<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <title>Dish</title>
</head>
<body  style="background-color: rgb(255, 255, 200);">
    <header>
        <%- include ('../partials/header') %>
    </header>

    <div class="dishinfo">
        <img src="/images/<%=foods[0].id %>.png" alt="">
        
        <ul class="info">
            <h1><%=foods[0].name %></h1>
            <li><p>Price: <%=foods[0].price %></p></li>
            <li><p>Category: <%=foods[0].category %></p></li>
            <li><p>Origin: <%=origin[0].name %></p></li>
            <li><p>Ingredients: <%=ingredient[0].ingredients %></p></li>
            <% if (foods[0].available) {%><p class="status" style="color: green;"> AVAILABLE</p> <% } else { %> <p class="status" style="color: red;">OUT OF STOCK</p> <% } %>
        </ul>
    </div>

</body>
</html>